<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.test.dao.UserDao">
    <!-- 解决表名与字段不匹配 -->
    <resultMap type="org.test.po.UserInfo" id="userResultMap">
        <id property="id" column="id"/>
        <result property="name" column="r_name"/>
        <result property="gender" column="r_gender"/>
        <result property="username" column="r_username"/>
        <result property="pwd" column="pwd_MD5"/>
    </resultMap>

    <select id="findAllUsers" resultMap="userResultMap">
        select * from t_userInfo
    </select>

    <insert id="saveUser" parameterType="User" useGeneratedKeys="true"   keyProperty="id">
        insert into t_userinfo(r_name,r_gender,r_username,pwd_MD5)
        values(#{name},#{gender},#{username},#{pwd})
    </insert>

    <select id="findByName" resultMap="userResultMap" parameterType="String">
        select * from t_userinfo where r_username=#{username}
    </select>

    <select id="findById" resultMap="userResultMap" parameterType="Long">
        select * from t_userinfo where id=#{id}
    </select>
</mapper>